@model SamsungWatch.Models.SizeCreateRequest;
@{
    ViewData["Title"] = "Thêm màu mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* @section Scripts{
    <script>
        $(document).ready(function () {
            $('#inputColor').on('input', function () {
                var fullName = $(this).val();
                if (fullName != null && fullName.length > 0) {
                    $(this).removeClass('is-invalid').addClass('is-valid');
                } else {
                    $(this).removeClass('is-valid').addClass('is-invalid');
                }
            });
        });

    </script>
} *@

<div>
    <h1 class="mt-4">Thêm size</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active"><a asp-controller="Size" asp-action="Index">Size</a></li>
        <li class="breadcrumb-item active">Thêm kích thước</li>
    </ol>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Điền thông tin kích thước</h6>
        </div>

        <div class="card-body">
            <form asp-action="Create">

                <div class="mb-3">
                    <label for="validationServer01" class="form-label">Nhập Size</label>
                    <input type="text" asp-for="SizeName" autocomplete="off" class="form-control" id="inputColor"
                        placeholder="vd: 40mm" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập kích thước.
                    </div>
                </div>

             <h5>@ViewBag.err</h5>
                <div class="form-group">
                    <input type="submit" value="Thêm size" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>